fastp		=	/usr/bin/fastp
spades		=	/usr/bin/spades.py
diamond		=	/usr/bin/diamond
sortdiamond	=	/usr/bin/sortdiamond
bowtie2		=	/usr/bin/bowtie2
samtools	=	/usr/bin/samtools
bcftools	=	/usr/bin/bcftools
exonerate	=	/usr/bin/exonerate
macse		=	/usr/share/java/macse.jar
delstop		=	/usr/bin/delstop
trimal		=	/usr/bin/trimal
raw_dir		=	00_raw
fastp_dir	=	01_fastp
spades_dir	=	02_spades
bowtie2_dir	=	03_bowtie2
bam_dir		=	04_bam
vcf_dir		=	05_vcf
consen_dir	=	06_consen
macse_dir	=	07_macse
trimal_dir	=	08_trimal
