manifest {
    name = 'RGBEPP'
    description = 'Reference Genome based Exon Phylogeny Pipeline workflow wrapper'
    mainScript = 'main.nf'
}

params {
    rgbepp = 'RGBEPP'
    list = 'list'
    reference = null
    genes = null
    config = null
    outdir = 'results'
    threads = 8
    memory = 16
    codon = false
    function = 'all'
    publish_mode = 'copy'
    container = null
    fastp = 'fastp'
    spades = 'spades.py'
    diamond = 'diamond'
    sortdiamond = 'sortdiamond'
    bowtie2 = 'bowtie2'
    samtools = 'samtools'
    bcftools = 'bcftools'
    exonerate = 'exonerate'
    macse = '/usr/share/java/macse.jar'
    delstop = 'delstop'
    deltaxa = 'deltaxa'
    trimal = 'trimal'
    concataln = 'concataln'
    raw_dir = '00_raw'
    fastp_dir = '01_fastp'
    spades_dir = '02_spades'
    bowtie2_dir = '03_bowtie2'
    bam_dir = '04_bam'
    vcf_dir = '05_vcf'
    consen_dir = '06_consen'
    macse_dir = '07_macse'
    trimal_dir = '08_trimal'
    fastp_paras = ''
    spades_paras = '--careful --phred-offset 33'
    diamond_makedb_paras = ''
    diamond_blastx_paras = '--ultra-sensitive'
    bowtie2_build_paras = ''
    bowtie2_paras = ''
    samtools_view_paras = ''
    samtools_fixmate_paras = ''
    samtools_sort_paras = ''
    samtools_markdup_paras = ''
    samtools_index_paras = ''
    bcftools_mpileup_paras = ''
    bcftools_call_paras = '-mv'
    bcftools_norm_paras = '--check-ref s'
    bcftools_filter_paras = ''
    bcftools_index_paras = ''
    bcftools_consensus_paras = ''
    exonerate_paras = ''
    macse_paras = ''
    trimal_paras = '-gt 0.7'
}

process {
    errorStrategy = 'terminate'
    container = params.container
}

profiles {
    docker {
        docker.enabled = true
    }

    apptainer {
        apptainer.enabled = true
        apptainer.autoMounts = true
    }
}
